<h1>Calculate the payment</h1>

<form action="/new_random/results">
  <div>
    <label for="min"> Minimum: </label>
    <input id="min" type="text" name="min">
    
    <label for="max"> Maximum: </label>
    <input id="max" type="text" name="max"> 
    
  </div>
<button> Pick Random number</button>
