<h1>
   Square Root Results
</h1>

<%= params %>

<dl>
   <dt>
     Number
   </dt> 
   <dd>
    <%= @the_num %>
   </dd>
   
   <dt> 
     square root
   </dt>
   <dd>
     <%= @the_result %>
   </dd>
</dl>

<a href="/square_root/new">
   calculate another square
</a>  
